{% extends 'base.html' %}

{% block container %}
  <div class="top-pad">
  <h2>Product ID: {{ prod_id }}</h2>
    <form method="POST" action="{{ url_for('product_create') }}" role="form"><!--This may not work I changes lets See-->
      <div class="form-group">{{ form.prod_name.label }} : {{ form.prod_name() }}</div>

       <div class="form-group">{{ form.dept_id.label }}: {{ form.dept_id() }}</div><!--Something Wrong Here-->
      
      <div class="form-group">{{ form.prod_price.label }}: {{ form.prod_price() }}</div>
       <div class="form-group">{{ form.prod_stock.label }}: {{ form.prod_stock() }}</div>
       <div class="form-group">{{ form.prod_rating.label }}: {{ form.prod_rating() }}</div>
       <div class="form-group">{{ form.prod_images.label }}: {{ form.prod_images() }}</div>
       <div class="form-group">{{ form.shipping.label }}: {{ form.shipping() }}</div>
      <div class="form-group">{{ form.recycle_fee.label }}: {{ form.recycle_fee() }}</div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
{% endblock %}